.app {
  text-align: center;
  font-family: Arial;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(155deg, #69aaff, #fff);
}

.upper{
  padding-top: 50px;
}

input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
  border-radius: 1em;
  background-color: #fff;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2em;
  background-color: #2676e0;
  color: #fff;
}

.des{
  font-size: large;
  font-weight: bold;
}

.weather-card {
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  max-width: 600px;
  display: inline-block;
}
.loc{
  display: inline-block;
}
.info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.qual{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}
.qual p{
  margin: 0 10px 0 10px;
}

.error {
  color: red;
  margin-top: 10px;
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}
